header{
  height: 60px;
  background: blue;
  text-align: center;
  color: lightpink;
}

body {
  background: lightpink;
}

img {
  height: 120px;
  border: 3px solid blue;
  float: right;
  margin-left: 30px;
}
